<% provide(:title, 'ホーム') %>

<div class="container">
  <h2 class="title title-calendar-index">ホーム</h2>
  <div class="calendar-index-container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-9" id="calendar0"></div>
    </div>
    <div id="calendar-wrapper">
      <div id='calendar'>
        <% @facilities.each do |f|  %>
        <div class="row calendar-table">
          <%= link_to(f.name, calendar_show_path(current_user), {class: "col-sm-2 tab-title"}) %>
          <div class="col-sm-10 tabs" data-calendar="<%= f.id %>"></div>
        </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>


<script>
  $(function() {
    var a_props = {
      "color": "#000000",
      "font-weight": "bold",
      "text-decoration": "none",
      "background-color": "#f0f0f0"
    };
    $('#home a').css(a_props);
  });
</script>