<% provide(:title, 'ホーム') %>

<div class="container">
  <h2 class="title title-calendar-index">ホーム</h2>
  <div class="calendar-index-container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-9" id="calendar0"></div>
    </div>
    <div id="calendar-wrapper">
      <div id='calendar'>
        <% @facilities.each do |f|  %>
        <div class="row calendar-table">
          <div class="col-sm-3">
            <div class="tab-title">
              <%= link_to(f.name, calendar_show_path(facility_id: f.id)) %>
            </div>
            <div class="twoweek-const">
              <div class="twoweek-const-title">近日開始予定の工事</div>
              <ul>
                <% if @const_event[f.id].blank? %>
                なし
                <% else %>
                <% @const_event[f.id].each do |c| %>
                <li><%= link_to("#{c.start_at.strftime("%-m/%-d")} #{c.name}", construction_path(c), remote: true) %></li>
                <% end %>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="col-sm-9 tabs" data-calendar="<%= f.id %>"></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="construction_modal"></div>
<div class="order_modal"></div>
<input type="hidden" value=<%= current_user.category_id %> id='cal_user_category'></input>