<% provide(:title, '登録情報編集') %>

<div class="container">
  <h2 class="title">登録情報編集</h2>
  <div class="order-edit-content">
    <%= render "form", url: "/orders/#{@order.id}", remote: nil, edit: true %>
  </div>
</div>