$(".oil-option").remove();
var oils = {};
oils = $.parseJSON('<%== @oils %>');
console.log(oils);
$.each(oils, function(index, value){
  $('#oil-select').append('<option value=' + index + ' class="oil-option">' + value + '</option>');
  console.log('confirm' + index + value);
});

