<% provide(:title, 'オーダー詳細') %>

<div class="container">
  <h2 class="title title-const-index">オーダー詳細</h2>
  <div class="orders-container">
    <%= @order.name  %><br>
    <%= @order.oil.name %><br>
    <%= @order.facility.name %><br>
  </div>
</div>