.admin-user-name {
  width: 30%;
}
.admin-user-name {
  width: 28%;
}
.admin-user-name {
  width: 28%;
}
.admin-user-btn {
  width: 14%;
}
.admin-user-new-content {
  width: 75%;
  margin: 0 auto;
}
.admin-user-info-wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
}
.admin-user-show-modal-body-wrapper {
  padding-bottom: 60px;
}
.admin-user-info {
  line-height: 40px;
  vertical-align: middle;
  display: inline-block;
  list-style: none;
  li{
    float: left;
    font-size: 1.2em;
    padding-left: 15px;
  }
}
