.admin-info {
  display: flex;
  flex-direction: row-reverse;
}
.admin-users {
  width: 79%;
  margin-right: 1%;
  i {
    margin-left: 10px;
    font-size: 18px;
    color: #00ADA9;
  }
}
.user_operation-wrapper {
  width: 20%;
  margin-top: 50px;
  text-align: center;
}
.admin-user-name {
  width: 30%;
}
.admin-user-name {
  width: 28%;
}
.admin-user-name {
  width: 28%;
}
.admin-user-btn {
  width: 14%;
}
.admin-user-new-content {
  width: 75%;
  margin: 0 auto;
}
.admin-user-info-wrapper {
  width: 85%;
  margin: 0 auto;
}
.admin-user-info {
  line-height: 40px;
  vertical-align: middle;
  display: inline-block;
  list-style: none;
  li{
    float: left;
    font-size: 1.2em;
    padding-left: 15px;
  }
}
