<% provide(:title, '登録情報編集') %>

<div class="container">
  <h2 class="title">登録情報編集</h2>
  <div class="construction-edit-content">
    <%= render "form", url: "/constructions/#{@construction.id}", remote: true, edit: true %>
  </div>
</div>