<% provide(:title, '工事詳細') %>

<div class="container">
  <h2 class="title">工事詳細</h2>
  <div class="row construction-row">
    <%= @construction.name  %><br>
    <%= @construction.oil.name %><br>
    <%= @construction.facility.name %><br>
  </div>
</div>