.title-const-index{
  margin-bottom: 10px;
}
.construction-row{
  margin-top: 40px;
}

.row-construction-form{
  display: block;
  padding-left: 14%;
  margin-bottom: 20px;
}

.time select{
  display: inline-block;
  width: 44%;
  height: 43px;
  padding: 0;
  border: 2.4px #00ADA9 solid;
  border-radius: 4px;
}

.c-status select{
  margin-bottom: 15px;
}

input[type="date"] {
  padding: 0 10px;
  font-size: 14px;
  color: #999;
}

.dash{
  margin: 0 auto;
  text-align: center;
}

textarea{
  height: 100px;
}

#construction_status{
  height: 43px;
  border: 2.4px #00ADA9 solid;
  border-radius: 4px;
  padding-left: 15px;
  color: rgb(87, 87, 87);
}

/* index */
.constructions-container{
  margin: 0 auto;
}

.index-search{
  display: inline-block;
  height: 25px;
  padding: 0 5px;
  margin-bottom: 20px;
  border: 2.4px #00ADA9 solid;
  border-radius: 4px;
  color: #959595;
}

@media all and (max-width: 1125px) {
.index-search-time{
  display: inline-block;
  width: 118px !important;
  height: 25px !important;
  padding: 0 !important;
  margin-bottom: 20px !important;
  border: 2.4px #00ADA9 solid !important;
  border-radius: 4px !important;
  input {
  padding: 0 !important;
  font-size: 10px !important;
  }
}
}

.index-search-time{
  display: inline-block;
  width: 90%;
  height: 25px;
  padding: 0;
  margin-bottom: 20px;
  border: 2.4px #00ADA9 solid;
  border-radius: 4px;
}

.btn-search{
  display: inline-block;
  width: 100px;
  height: 28.4px;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#fff;
  border: none;
  box-shadow : 0 4px #666666;
  &:focus,&:active, &:active:focus, &:active.focus,
  &.active, &.active:focus, &.active.focus{
    box-shadow: none;
    border: none;
    position:relative;
    top:4px;
  }
  &:hover, &:active:hover, &.active:hover{
    text-decoration: none;
    border: none;
  }
}

.csv{
  height: 38.4px;
  background-color: #3d9b67;
  margin-bottom: 10px;
}

.search{
  background-color: #00ADA9;
}
