@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
html, body, .container {
  height: 103%;
}

body {
  padding-top: 0px;
  background-color: #00ADA9;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container{
  background-color: #fff;
  width: 90%;
  text-align: left;
}

.header-login-container{
  background-color: #fff;
  width: 90%;
}

.before-login-container{
  background-color: none;
  width :80%;
  margin: 0 auto;
}
ul{
    padding-inline-start: 0px;
}
.jumbotron{
  position: absolute;
  top: 0;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
/* ログイン前 */
.navbar{
  position: relative;
}

.navbar-custom{
    background-color: #00ADA9;
    color:#fff;
    border-color: #008784
}

.navbar-nav a{
  color: #fff;
  padding-bottom: 0;
  &:hover{
    color: #000000;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* ログイン中 */
.navbar-custom-loggedIn{
  color: #000000;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 10%;
}

.navbar-loggedIn li{
  float: left;
}

.navbar-loggedIn a{
  color: #fff;
  font-size: 1.2em;
  background-color: #000000;
  &:hover{
    background-color: #3f3f3f;
    color: #000000;
  }
}
#user{
  padding: 9px 13px;
  border-radius: 0 0 0 18px / 0 0 0 18px ;
  }
#logout{
  padding: 9px 13px;
  border-radius: 0 0 18px 0 / 0 0 18px 0 ;
  border-left: solid 1px #3f3f3f;
}

#logo-loggedIn {
  float: left;
  font-size: 2.5em;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
}

#logo-loggedIn:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

/* subheader */
#subheader{
  width:100%;
  background-color: #00ADA9;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}
/* メニューリストのグループ */
#subheader ul.menu-group{
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
/* メニューリスト */
#subheader ul.menu-group li{
  display:inline-block;
  text-align:center;
  width:180px;
  line-height:40px;
}
@media all and (max-width: 1250px) {
#subheader ul.menu-group li{
  width:135px;
}
}
.is-active a {
  color: #000000 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  background-color: #f0f0f0 !important;
}
/* メニューリストのリンク */
#subheader ul.menu-group li a{
  display:block;
  font-size:1.4em;
  color:#fff;
  text-decoration:none;
  background-color:#00ADA9;
  &:hover{
    color:#000000;
    font-weight:bold;
    text-decoration:none;
    background-color:#f0f0f0;
  }
}

/* btn */
.btn{
  border: none;
  &:active,&.active &:hover, &:focus,
  &:active:focus, &:active:hover, &:active.focus,
  &.active:focus, &.active:hover, &.active.focus{
    border: none;
  }
}

.btn-primary{
  background-color: #00ADA9;
  color:#fff;
  border: 1px solid #ffffff;
  font-weight: bold;
  margin-top: 30px;
  font-size: 1.7em;
  height: auto !important;
  width: 200px;
  text-align: center;
}

.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus
{
  background: #008784 !important;
  color: #fff;
  border-color: #fff !important;
  font-weight: bold;
  height: auto !important;
}

.enter-btn{
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 200px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: 43px;
}

.form-control{
  height: 43px;
  border: 2.4px #00ADA9 solid;
}

.form-group{
  margin: 0;
}

.form-label{
  color: #fff;
}

.form-label-login{
  font-size: 1.5em;
  color: #00ADA9;
}

.form-title{
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 20px;
}

.form-message{
  color: #fff;
  a{
    color: yellow;
    font-weight: bold;
    text-decoration:underline;
  }
}

.btn-loggedIn{
  background-color: #00ADA9;
  color:#fff;
  border: none;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 1.7em;
  height: auto !important;
  box-shadow : 0 3px #666666;
  &:active,
  &.active{
    background: #008784;
    border: none;
    color: #fff;
    position:relative;
    top:3px;
  }
  &:hover, &:focus,
  &:active:focus, &:active:hover, &:active.focus,
  &.active:focus, &.active:hover, &.active.focus{
    background: #00ADA9;
    color: #fff;
    border: none;
  }
}

/* error messages */
#error_explanation {
  font-size: 1.1em;
  color: red;
  ul {
    color: red;
  font-size: 1em;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

/* flash */
.alert{
  margin-top: 10px;
  padding: 10px 30px;
}

/* title */
.title {
  display: inline-block;
  margin-top: 80px;
  margin-left: 5%;
  font-weight: bold;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
  line-height: 20px;
  text-align: center;
  border-top-style:none;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  line-height: 20px;
  padding: 10px 2px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.table{
  width: 95%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}

.edt-btn{
  background-color: #00ADA9;
}

.dlt-btn{
  background-color: #d8575a;
}

.guest{
  background-color: #ADAB00;
  padding: 0 !important;
  &:active,
  &.active{
    background-color: #868400 !important;
  }
  &:hover, &:focus,
  &:active:focus, &:active:hover, &:active.focus,
  &.active:focus, &.active:hover, &.active.focus{
    background-color: #868400 !important;
}
  span {
    font-weight: normal;
    font-size: 0.6em;
  }
  p {
    font-weight: bold;
    margin-bottom: -15px;
  }
}

/* pagination */
.pagination>li>a {
  border: none;
  color: #00ADA9;
}

.pagination>.active>a {
  background: #00ADA9 !important;
  border: none;
  border-radius: 20px !important;
  &:hover {
  color: #ffffff !important;
  }
}

.pagination>li>a:hover {
  border-radius: 20px !important;
  color: #000000 !important;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #cacaca !important;
}

/* modal */
.modal-title {
  font-weight: bold;
  font-size: 1.7em;
}

.fa-trash, .fa-edit {
  color: #00ADA9;
}
