@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
html, body, .container {
  height: 100%;
}
body {
  padding-top: 0px;
  background-color: #00ADA9;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container{
  background-color: #fff;
  width: 90%;
}

.header-login-container{
  background-color: #fff;
  width: 90%;
}

.before-login-container{
  background-color: none;
  width :80%;
  margin: 0 auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
/* ログイン前 */
.navbar{
  position: relative;
}

.navbar-custom{
    background-color: #00ADA9;
    color:#fff;
    border-color: #008784
}

.navbar-nav a{
  color: #fff;
  padding-bottom: 0;
  &:hover{
    color: #000000;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* ログイン中 */
.navbar-custom-loggedIn{
  color: #000000;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 10%;
}

.navbar-loggedIn li{
  float: left;
}

.navbar-loggedIn a{
  color: #fff;
  font-size: 1.2em;
  background-color: #000000;
  &:hover{
    background-color: #3f3f3f;
    color: #000000;
  }
}
#user{
  padding: 9px 13px;
  border-radius: 0 0 0 18px / 0 0 0 18px ;
  }
#logout{
  padding: 9px 13px;
  border-radius: 0 0 18px 0 / 0 0 18px 0 ;
  border-left: solid 1px #3f3f3f;
}

#logo-loggedIn {
  float: left;
  font-size: 2.5em;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
}

#logo-loggedIn:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

/* subheader */
.subheader-bar{
  position: absolute;
  width: 100%;
  background-color: #00ADA9;
  padding: 10px 15px;
}

.subheader a{
  color: black;
}
/* メニュー設置用スペース */
.skinContentsArea{
  padding-top:50px;
  position:relative;
}
/* メニューエリア */
#topmenu{
  width:980px;     /* メニュー全体の幅 */
  position:absolute;
  margin:0;
  padding:0;
  top:0px;         /* 上下位置調整 */
  left:0px;        /* 左右位置調整 */
}
/* メニューリストのグループ */
#topmenu ul.menu{
  margin:0;
  padding:0;
  list-style: none;
}
/* メニューリスト */
#topmenu ul.menu li{
  display:block;
  float:left;
  margin:0;
  padding:0;
  text-align:center;
  width:196px;     /*ボタンの幅*/
  line-height:40px; /*ボタンの高さ*/
  background-color:#ff77dd;/*背景色(ピンク)*/
}
/* メニューリストのリンク */
#topmenu ul.menu li a{  /*通常時*/
  display:block;
  font-size:14px; /*ボタンの文字サイズ*/
  color:#000000;  /*文字色(黒)*/
  font-weight:bold; /*太字*/
  text-decoration:none;/*下線(なし)*/
  background-color:#ff77dd;/*背景色(ピンク)*/
}
/* メニューリストのリンク（マウスオーバー時） */
#topmenu ul.menu li a:hover{ /*カーソルが乗った時*/
  color:#ffffff;    /*文字色(白)*/
  font-weight:bold; /*太字*/
  text-decoration:underline;/*下線(あり)*/
  background-color:#698fff; /*背景色(薄い青)*/
}


/*btn*/

.btn-primary{
    background-color: #00ADA9;
    color:#fff;
    border-color: #fff;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 1.7em;
}
.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
 {
    background: #008784;
    color: #fff;
    border-color: #fff;
    font-weight: bold;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.form-message{
  color: #fff;
  a{
    color: yellow;
    font-weight: bold;
    text-decoration:underline;
  }
}

.form-label{
  color: #fff;
}

.form-title{
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

//flash//
.alert{
  margin-top: 60px;
}