.facility-row{
  margin-top: 80px;
}

.facility-form-label{
  position: relative;
}

.oil1, .oil-add{
  position: absolute;
  float: left;
  width: 80%;
}

.nested-fields{
  margin-top: 10px;
  padding-top: 10px;
}

.adjust-btn{
  color: #fff;
  border-color: #fff;
  background-color: #00ADA9;
  font-size: 1.2em;
  width: 13%;
  height: 43px;
  padding-top: 9px;
  border: none;
  box-shadow : 0 3px #666666;
  &:active,
  &.active{
    background: #008784;
    color: #fff;
    border-color: #fff;
    position:relative;
    top:3px;
  }
  &:hover, &:focus,&:active,
  &:active:focus, &:active:hover, &:active.focus,
  &.active, &.active:focus, &.active:hover, &.active.focus{
    background: #00ADA9;
    color: #fff;
    border-color: #fff;
  }
}
