.orders-container{
  width: 95.58%;
  margin: 0 auto;
}

.order-row{
  margin-top: 40px;
}

.row-order-form{
  display: block;
  padding-left: 14%;
  margin-bottom: 20px;
}

.index-order{
margin: 0 auto;
}
