<div id="topmenu">
  <ul class="menu">
    <li><%= link_to "ログアウト", "#"%></li>
    <li><%= link_to "ログアウト", "#"%></li>
    <li><%= link_to "ログアウト", "#"%></li>
    <li><%= link_to "ログアウト", "#"%></li>
    <li><a href="#">メニュー5</a></li>
  </ul>
</div>