<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body>
  <%= render 'layouts/header' %>
  <%#= render 'layouts/flash_messages' %>
  <%= yield %>
  <%= render 'layouts/flash_setting' %>
</body>

</html>